<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg">
        <span class="title">ng-alain</span>
      </div>
      <div class="desc">The most influential "Sunflower Collection" in martial arts; if you want to practice the magic,
        use your sword</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links"> Copyright <i class="anticon anticon-copyright"></i> 2019 <a
        href="//github.com/cipchk" target="_blank">Card color</a>Exhibit </global-footer>
  </div>
</div>