<div class="modal-header">
  <div class="modal-title" *ngIf="record && record._id"> Edit {{ record.stream_name }} information</div>
  <div class="modal-title" *ngIf="record && !record._id"> Add New Stream information</div>
</div>
<sf *ngIf="record" #sf mode="edit" [schema]="schema" [ui]="ui" [formData]="record" button="none">
  <div class="modal-footer">
    <button nz-button type="button" (click)="close()">Cancel</button>
    <button nz-button type="submit" nzType="primary" (click)="save(sf.value)" [disabled]="!sf.valid"
      [nzLoading]="http.loading">Save</button>
  </div>
</sf>